<div id="container">
    <div id="app-name-container" routerLink="/home">
        <img id="app-icon" src="../../../assets/icons/icon-72x72.png" alt="logo">
        <span id="app-name" >Alten Shop</span>
    </div>
    <div class="category-container" routerLink="/products">
        <img id="cart-icon" src="../../../assets/icons/white-cart.png">
        <span>Products</span>
    </div>
    <div class="category-container" routerLink="/admin/products">
        <img id="admin-icon" src="../../../assets/icons/white-admin.png">
        <span>Admin</span>
    </div>
</div>